.slider .slick-prev,
.slider .slick-next {
  position: absolute;
  top: 0%;
  z-index: 1;
}

.slider {
  position: relative;
}
img {
  width: 20%;
  height: 20%;
  margin-left: 39vw;
  margin-right: 25vw;
  margin-top:2vw;
  margin-bottom: 1vw;
}

.slider .slick-prev,
.slider .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slider .slick-prev {
  left: 35%;
}

.slider .slick-next {
  right: 37%;
}

@media all and (max-width: 1025px) and (min-width: 760px) {
}
