footer {
  background: #b2a99d;
  color: white;
  padding-bottom: 1vw;
}


.footer-container {
  max-width: 100%;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}


.social-media {
  margin-left: 30px;
}
.social-media a {
  color: white;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}
.social-media a:hover {
  color: #d3d0d0;
}

.right-col h1 {
  font-size: 26px;
  
}
.right-col p{
color: rgb(82, 80, 80);
font-size: 12px;
}

.copyrights{
color: rgb(82, 80, 80);
font-size: 12px;
}

.border {
  width: 100%;
  height: 4px;
  background: white;
}

.foot-discount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.foot-email {
  
  padding: 5px 30px;
  font-size: 16px;
  color: black;
  background: white;
  border: none;
  font-weight: 500;
  outline: none;
  border-radius: 10px;
  width: 350px;
}
label {
  /* visibility: hidden; */
  margin: 0;
  font-size: 0px;
}
.btn {
  font-size: 16px;
  color: #222122;
  background: white;
  border: none;
  width: 100px;
  font-weight: 100%;
  outline: none;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
  padding: 5px 30px;
  padding-bottom:100vw;
}
.btn:hover {
  opacity: 0.7;
}

@media all and (max-width: 1025px) and (min-width: 760px) {
  .footer {
    height: 200px;
    padding: 0px;
  }
  section {
    flex-direction: column;
  }
  .about {
    max-width: 800px;
  }
  .email-list {
    margin-bottom: 20px;
  }
  .footer {
    height: 350px;
  }
  .footer-container {
    min-width: 600px;
  }
  .right-col {
    width: 100%;
    /* margin-bottom: 30px; */
    text-align: center;
  }
  .left-col {
    width: 100%;
    text-align: center;
  }
  .btn {
    margin-top: 10px;
  }
}

@media all and (max-width: 480px) {
  .footer {
    height: 200px;
    padding: 0px;
  }
  section {
    flex-direction: column;
  }
  .about {
    max-width: 800px;
  }
  .email-list {
    margin-bottom: 20px;
  }
  .foot-email {
    width: 200px;
  }
  .footer {
    height: 350px;
  }
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .left-col {
    width: 100%;
    text-align: center;
  }
  .btn {
    margin-top: 10px;
  }
}
