  .heading {
  font-size: 4rem;
  text-align: center;
  /* color: #854ea2; */
  margin-bottom: 0;
  /* border-bottom: 3px solid #854ea2; */
}


.filters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.type-filter {
  display: flex;
}

