.wrapper {
  margin-top: 100px;
  
}

.grid {
  display: grid;
  grid-template-columns: 25rem 25rem 25rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  grid-gap: 20px;
        
}

.images {
 
	/* width: 100%;
  justify-content: center;
  object-fit: cover; */

  justify-self: center;
  align-self: center; 
  width: 175px;
  height: 250px; 

  margin-left:8.1vw; 
  
} 


.productsList {
  margin-bottom: 10px;
  height: 500px;
  width: 100%;
  border: 1px black solid;
  /* margin-left: 10px;
  margin-right: 10px; */
  text-align: center;
}

.title {
  color: black;
  font-family: raleway;
  font-weight: bold;
}

.prices {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

.description{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:black;
}

/* add to cart button */
.button {
  color: black;
  text-decoration: none;
  font-family: "raleway";
  font-size: 1vw;
  font-weight: bold;
  display: flex;
  margin: 2px;
  padding-bottom: 0.5vh;
  width: 10vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 150%;
  justify-content: center;
  border: 1px black solid;
}

.button:hover {
  background-color: rgba(245, 245, 245, 0.6);
}

@media all and (max-width: 1025px) {
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .productsList {
    height: 775px;
    width: 98%;
  }
}

@media all and (max-width: 480px) {
  .grid {
    display: flex;
    flex-direction: column;
  }

  .productsList {
    height: 700px;
    width: 90%;
  }
}

